@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

:root {
  --background: white;
  --foreground: #0f172a;

  --primary: #1e40af;
  --primary-foreground: white;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #1e40af;
}

.dark {
  --background: #020817;
  --foreground: #f8fafc;

  --primary: #3b82f6;
  --primary-foreground: white;

  --muted: #1e293b;
  --muted-foreground: #94a3b8;

  --border: #334155;
  --input: #334155;
  --ring: #3b82f6;
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}